@import "variables";

// Base button
button {
  background-color: $md-gray;
  border: none;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-small;
  cursor: pointer;
  transition: $transition-duration;
  $white-space: nowrap;

  // Hover styles
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    background-color: #cccccc;
    
    &:disabled {
      background-color: inherit;
    }
  }

  // Outline buttons
  &.transparent {
    background-color: transparent;
    border: 2px solid $primary-color;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: $white;

      &:disabled {
        background-color: transparent;
        color: rgba(0,0,0,0.7);
      }
    }
  }
  
  // Primary buttons
  &.primary{
    background-color: $primary-color;
    color: $white;
    
    &:hover,
    &:focus {
      background-color: $primary-dark;
      border-color: $primary-dark;
      
      &:disabled {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
      }
    }
  }

  // Danger buttons
  &.danger {
    background-color: $danger-color;
    color: $white;
    &:hover,
    &:focus {
      background-color: $danger-dark;
    }
  
    &:disabled {
      background-color: $danger-color;
    }
  }
}


// Button groups
.button-group {
  margin: 0 0.5rem;
  
  > button {
    border-radius: 0;
    
    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }
    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &.active {
      background-color: $primary-color;
      color: $white;

      &:hover,
      &:focus {
        background-color: $primary-dark;
        border-color: $primary-dark;

        &:disabled {
          background-color: $primary-color;
          border-color: $primary-color;
          color: $white;
        }
      }
    }
  }
}

// Buttons in a confirm card
.button-confirm {
  $white-space: nowrap;
  margin: 0 0 0 auto;

  > button {
    margin: 0 0.25rem;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
