button {
  background-color: #e2e2e2;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}
button:hover,
button:focus {
  background-color: #cccccc;
}

button.transparent {
  background-color: transparent;
  border: 2px solid #1976d2;
}
button.transparent:hover,
button.transparent:focus {
  background-color: #1976d2;
  color: white;
}

button.primary,
.button-group button.active {
  background-color: #1976d2;
  color: white;
}
button.primary:hover,
button.primary:focus,
.button-group button.active:hover,
.button-group button.active:focus {
  background-color: #0b5fb3;
  border-color: #0b5fb3;
}

button.danger {
  background-color: #f44336;
  color: white;
}
button.danger:hover,
button.danger:focus {
  background-color: #cf3126;
}

.button-group {
  margin: 0 0.5rem;
}

.button-group > button {
  border-radius: 0;
}

.button-group > button:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.button-group > button:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.button-confirm {
  white-space: nowrap;
  margin: 0 0 0 auto;
}

.button-confirm > button {
  margin: 0 0.25rem;
}
.button-confirm > button:first-child {
  margin-left: 0;
}
.button-confirm > button:last-child {
  margin-right: 0;
}