label {
  font-weight: bold;
}

input,
select {
  background:white;
  border-radius: 0.25rem;
  border: 2px solid #555;
  padding: 0.25rem;
}

input:hover,
input:focus,
select:hover,
select:focus {
  border-color: #1976d2;
}

input[type="checkbox"],
input[type="checkbox"] + label {
  cursor: pointer;
  font-weight: normal;
}

input[type="checkbox"] + label {
  margin-left: 0.25rem;
  font-size: 0.9rem;
}

input[type="checkbox"].large {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  margin-top: 0.3rem;
}

table input[type="checkbox"].large {
  margin-top: 0.5rem;
}

input[type="checkbox"].large:checked {
  background-color: #4CAF50;
  border-color: #338136;
}

select,
option {
  cursor: pointer;
}