table {
  border-collapse: collapse;
  margin: auto;

  thead {
    tr {
      border-bottom: 1px solid $drk-gray;
    }

    th {
      padding: 0 1rem 0.5rem;
    }
  }

  tbody {
    tr {
      height: 3rem;
      line-height: 1.5rem;

      &:nth-child(2n-1) {
        background-color: $md-gray;
      }
    }

    td {
      padding: 0 0.5rem;

      &.number {
        text-align: center;
      }
    }
  }
}

.table-scroll {
  overflow-x: auto;
}