table {
  border-collapse: collapse;
  margin: auto;
}

table thead tr {
  border-bottom: 1px solid #cbcbcb;
}

table thead th {
  padding: 0 1rem 0.5rem;
}

table tbody tr:nth-child(2n-1) {
  background-color: #e2e2e2;
}

table tbody tr {
  height: 3rem;
  line-height: 1.5rem;
}

table tbody td {
  padding: 0 0.5rem;
}

table tbody td.number {
  text-align: center;
}

.table-scroll {
  overflow-x: auto;
}