// Font
$font-size: 16px;
$font-small: 0.9rem;

// Colors
$primary-color: #1976d2;
$primary-dark: #0b5fb3;
$primary-bg: #1976d289;

$danger-color: #df2b1e;
$danger-dark: #c52c21;
$danger-bg: #df2b1e70;

$warning-color: #e6bc33;

$success-color: #4CAF50;
$success-dark: #338136;

$white: white;
$lt-gray: #f5f5f5;
$md-gray: #e2e2e2;
$drk-gray: #cbcbcb;
$text-color: #333;

// Accessible Colors
$primary-color: #006080;
$primary-dark: #004d66;
// $danger-color: #b50000;

// RCT Based Colors
$primary-color: #1b53cb;
$primary-dark: #002797;
$danger-color: #ff4f43;
$danger-dark: #ff0700;
$warning-color: #fff35f;
$warning-dark: #f3cb1b;
$success-color: #6fcf57;
$success-dark: #5bbf3f;

// Sizes
$icon-size: 60px;
$border-radius: 0.25rem;

// Animations
$transition-duration: 0.2s;

// Screen Widths
$screen-md: 767px;
$screen-sm: 575px;