<div class="display_flex-vertical align-items_center text-align_center">
  <h1>RCT Calculators</h1>
  <p>A collection of useful calculators for use with OpenRCT2, Roller Coaster Tycoon 1, Roller Coaster Tycoon 2, and Roller Coaster Tycoon Classic.</p>
  <p>
    Developed by
    <span>
      <a aria-label="Dev on twitter" target="_blank" rel="noopener" href="https://twitter.com/KaydeArcane" title="Twitter">
        <img id="twitter-logo" src="assets/Twitter_Logo_Blue.svg" />
        <span>@KaydeArcane</span>
      </a>.
    </span>
    Data sourced from
    <a href="https://github.com/OpenRCT2/OpenRCT2" target="_blank" rel="noopener">OpenRCT2 repo</a>.
    <a href="https://forums.openrct2.org/topic/2737-guide-how-much-can-you-charge-for-your-rides/" target="_blank" rel="noopener">Ride price</a>,
    <a href="https://forums.openrct2.org/topic/2747-guide-how-much-can-you-charge-for-your-shops/" target="_blank" rel="noopener">shop price</a>, and
    <a href="https://forums.openrct2.org/topic/2861-guide-when-and-how-do-guests-spawn/" target="_blank" rel="noopener">soft guest cap</a>
    calculations based on discoveries by
    <a href="https://www.youtube.com/channel/UCcU9si2fIVJ-KoIDX9xYpdw" target="_blank" rel="noopener">Deurklink</a>.
  </p>
  <p>
    Massive shout out to
    <a href="https://www.youtube.com/channel/UCBlXovStrlQkVA2xJEROUNg" target="_blank" rel="noopener">Marcel Vos</a>
    for covering these mechanics on YouTube and spurring my interest in making these tools!
  </p>
  <div class="display_flex align-items_center">
  </div>
</div>
