button.menu {
  display: none;
}

#logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.menu {
  display: none;
  position: fixed;
  background-color: #1976d2;
  border-radius: 0;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  color: white;
  height: 60px;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  right: 0;
  height: 60px;
  display: flex;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar #links {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 60px;
}

.toolbar #links > * {
  padding: 0 10px;
}

.toolbar #links > a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
}

.toolbar #links > a:hover,
.toolbar #links > a:focus,
.toolbar #links > a.active-link {
  background-color: #0b5fb3;
}

@media screen and (max-width: 575px) {
  button.menu {
    display: block;
  }
  
  button.menu:hover,
  button.menu:focus {
    background-color: #0b5fb3;
  }

  .toolbar {
    height: 9rem;
    top: calc(-9rem + 60px);
    transition: top 0.2s ease-in-out;
  }
  
  button.menu[aria-pressed="true"] + .toolbar {
    top: 60px;
  }
  
  .toolbar #links {
    flex-direction: column;
    height: auto;
    margin: 0;
  }

  .toolbar #links > a {
    width: 100vw;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0;
  }
}