<!-- Header -->
<app-header class="header-container"></app-header>

<div id="content" class="content" role="main">
  <!-- Router -->
  <router-outlet></router-outlet>
</div>

<footer>
  <hr />
  <div>
    <strong>RCT Calculators</strong><span> v1.0.0</span>
  </div>
  <div>
    Copyright 2020 © KaydeArcane
  </div>
  <div>
    Find a bug? Have a suggestion? Let me know! Report any bugs or feature requests on the project's
    <a href="https://github.com/KaydeArcane/rct-calculators/issues" target="_blank" rel="noopener">Github repo</a>.
  </div>
</footer>