<div id="logo">
  <img width="60" alt="RCT Calculators Logo" src="assets/icon.png" />
</div>
<button id="menu-button" class="menu hamburger hamburger--slider" (click)="toggleMenu()" role="button"
  aria-pressed="false">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<div class="header" role="banner">
  <div id="links">
    <a routerLink="prices/rides" routerLinkActive="active-link" [tabindex]="tabindex">
      <span>Ride Prices</span>
    </a>
    <a routerLink="prices/shops" routerLinkActive="active-link" [tabindex]="tabindex">
      <span>Shop Prices</span>
    </a>
    <a routerLink="guest-cap" routerLinkActive="active-link" [tabindex]="tabindex">
      <span>Soft Guest Cap</span>
    </a>
    <a routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
      true}" [tabindex]="tabindex">
      <span>About</span>
    </a>
  </div>
</div>