<form [formGroup]="attractionsDropdown">
  <span class="select">
    <select id="select-attraction-input" formControlName="attraction" aria-label="Select Attraction Input">
      <option value="" disabled>Select {{types ? types : 'attraction'}}...</option>
      <ng-container *ngFor="let list of attractions | keyvalue: originalOrder">
        <optgroup *ngIf="list.value.list.length > 0" [label]="capitalize(list.value.name)">
          <option *ngFor="let item of list.value.list" [ngValue]="item">
            {{item.getName()}}
          </option>
        </optgroup>
      </ng-container>
    </select>
  </span>
</form>