<div class="display_flex-vertical align-items_center">
  <h1>Ride Prices</h1>
  <section id="rp-text">
    <p>Calculate how much you can charge for any given ride.</p>
  </section>
  <div class="display_flex flex-wrap justify-content_center">
    <div class="settings-item">
      <h3>Game Settings</h3>
      <div class="button-group">
        <button class="transparent" [ngClass]="isOpenRCT2 ?  'active': ''" (click)="setGame(true)">OpenRCT2</button>
        <button class="transparent" [ngClass]="isOpenRCT2 ?  '': 'active'" (click)="setGame(false)">RCT1/RCT2/RCT
          Classic</button>
      </div>
    </div>
    <div class="settings-item">
      <h3>Park Settings</h3>
      <div class="display_flex align-items_center">
        <input id="paid-entry-input" name="paid-entry" type="checkbox" class="large" [formControl]="paidEntryForm"
          [value]="true" />
        <label for="paid-entry-input">Charging for Park Entry</label>
      </div>
    </div>
  </div>
  <div class="card display_flex-vertical">
    Add Ride to Park
    <app-ride-dropdown [rideType]="'ride'" (rideSelected)="addRide($event)"></app-ride-dropdown>
  </div>
</div>

<div>
  <div *ngIf="!confirm" class="display_flex justify-content_space-between align-items_baseline">
    <h3>Park Rides</h3>
    <div>
      <button class="danger" (click)="showConfirm(true)" [disabled]="placedRides.length < 1">Clear Park</button>
    </div>
  </div>
  <div *ngIf="confirm" class="card danger-card display_flex justify-content_space-between align-items_baseline flex-wrap">
    <h3>Are you sure you want to clear your park?</h3>
    <div class="button-confirm">
      <button class="danger" (click)="clear()">Yes, Clear Park</button>
      <button (click)="showConfirm(false)">Cancel</button>
    </div>
  </div>
  <div *ngFor="let ride of placedRides; index as i">
    <app-ride-item [id]="'ride' + ride.getUniqueId()" [ride]="ride" (rideUpdate)="updateRide($event, i)"
      (rideDelete)="removeRide(i)"></app-ride-item>
  </div>
</div>