<form [formGroup]="ridePriceForm" class="card left flex-wrap">
  <div class="display_flex name-and-price">
    <strong>{{ride.getName()}}</strong>
    <span>{{ride.getPrice() | currency}}</span>
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-name' + ride.getUniqueId()">Ride Name</label>
    <input [id]="'ride-name' + ride.getUniqueId()" type="text" formControlName="nickname" />
  </div>
  <div class="display_flex-vertical">
    <div class="display_flex align-items_center">
      <input [id]="'is-duplicate' + ride.getUniqueId()" name="is-duplicate" type="checkbox" class="large"
        formControlName="isDuplicate" [value]="true" />
      <label [for]="'is-duplicate' + ride.getUniqueId()">Ride Type Duplicate</label>
    </div>
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-age' + ride.getUniqueId()">Ride Age</label>
    <span class="select">
      <select [id]="'ride-age' + ride.getUniqueId()" formControlName="age">
        <option value="" disabled>Select age...</option>
        <option *ngFor="let age of ageList" [ngValue]="age">
          {{age.getAge()}}
        </option>
      </select>
    </span>
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-excitement' + ride.getUniqueId()">Excitement</label>
    <input [id]="'ride-excitement' + ride.getUniqueId()" type="number" step="0.01" min="0" formControlName="e" />
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-intensity' + ride.getUniqueId()">Intensity</label>
    <input [id]="'ride-intensity' + ride.getUniqueId()" type="number" step="0.01" min="0" formControlName="i" />
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-nausea' + ride.getUniqueId()">Nausea</label>
    <input [id]="'ride-nausea' + ride.getUniqueId()" type="number" step="0.01" min="0" formControlName="n" />
  </div>
  <div class="footer">
    <button class="danger" (click)="deleteRide()">Delete</button>
  </div>
</form>