// Imports
@import "variables";

@import "buttons";
@import "cards";
@import "collapsible-sections";
@import "hamburger";
@import "header";
@import "inputs";
@import "tables";

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $font-size;
  color: $text-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin-top: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ababab;
  width: 50vw;
}

a,
a:visited,
a:hover {
  color: $primary-color;
}

a:hover {
  color: $primary-dark;
}

.display_flex {
  display: flex !important;
}

.display_flex-vertical {
  display: flex !important;
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items_center {
  align-items: center !important;
}

.align-items_baseline {
  align-items: baseline !important;
}

.justify-content_center {
  justify-content: center !important;
}

.justify-content_space-between {
  justify-content: space-between;
}

.flex-fill {
  flex-grow: 1;
}

.danger-color {
  background-color: $danger-color !important;
  border-color: $danger-color !important;
}

.text-align_center {
  text-align: center !important;
}

.width-100 {
  width: 100% !important;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.content {
  margin: 4rem auto 1rem;
  padding: 0 1rem;
}

.tooltip {
  cursor: help;
}

.item {
  margin: 0.5rem 0;
  > div:not(.footer) {
    margin-bottom: 0.5rem;
  }
  
  > div,
  > div input:not([type="checkbox"]),
  > div select {
    width: 100%;
  }
}

.name-and-price {
  align-items: stretch;

  > .name {
    background-color: $white;
    border: 2px solid $drk-gray;
    border-right: none;
    border-radius: $border-radius 0 0 $border-radius;
    padding: 0.5rem;
  }

  > .value {
    background-color: $primary-color;
    color: $white;
    border: 2px solid $primary-color;
    border-radius: 0 $border-radius $border-radius 0;
    padding: 0.5rem;
  }
}

footer {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  text-align: center;
}