// Imports
@import "variables";
@import "flex";

@import "buttons";
@import "cards";
@import "collapsible-sections";
@import "hamburger";
@import "inputs";
@import "tables";

@import "header";

html {
  scrollbar-color: #cdcdcd #f0f0f0;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $font-size;
  background-color: $primary-color;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin-top: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ababab;
  width: 50vw;
}

a,
a:visited,
a:hover {
  color: $primary-color;
}

a:hover {
  color: $primary-dark;
}

.danger-color {
  background-color: $danger-color !important;
  border-color: $danger-color !important;
}

.text-align_center {
  text-align: center !important;
}

.width-100 {
  width: 100% !important;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.content {
  padding: 4rem 1rem 1rem;
  background-color: $white;
  flex-grow: 1;
}

.tooltip {
  cursor: help;
}

.item {
  position: relative;
  // margin: 0.5rem 0;
  > div.item-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity $transition-duration ease-out;
    background-color: $primary-color;
    opacity: 0;
    pointer-events: none;
  }

  > div:not(.footer) {
    margin-bottom: 0.5rem;
  }
  
  > div,
  > div input:not([type="checkbox"]),
  > div select {
    width: 100%;
  }
}

.name-and-price {
  align-items: stretch;

  > .name {
    background-color: $white;
    border: 2px solid $drk-gray;
    border-right: none;
    border-radius: $border-radius 0 0 $border-radius;
    padding: 0.5rem;
  }

  > .value {
    background-color: $primary-color;
    color: $white;
    border: 2px solid $primary-color;
    border-radius: 0 $border-radius $border-radius 0;
    padding: 0.5rem;
  }
}

footer {
  background-color: $white;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  text-align: center;
}

@keyframes quickFlash {
  0% {
    background-color: $primary-color;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.quick-flash {
  -webkit-animation-name: quickFlash;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: quickFlash;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  animation-name: quickFlash;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}