<form [id]="'ride-item' + ride.getUniqueId()" [formGroup]="ridePriceForm" class="card left item flex-wrap flex-fill">
  <div class="display_flex name-and-price">
    <strong class="name">{{ride.getName()}}</strong>
    <strong class="value">{{ride.getPrice() | currency}}</strong>
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-name' + ride.getUniqueId()">Ride Name</label>
    <input [id]="'ride-name' + ride.getUniqueId()" type="text" formControlName="nickname" />
  </div>
  <div class="display_flex-vertical">
    <div class="display_flex align-items_center">
      <input [id]="'is-duplicate' + ride.getUniqueId()" name="is-duplicate" type="checkbox" class="large"
        formControlName="isDuplicate" [value]="true" />
      <label [for]="'is-duplicate' + ride.getUniqueId()">Ride Type Duplicate</label>
      <a routerLink="about" fragment="ride-duplicates" class="tooltip"
        *ngIf="ride.isDuplicate && ride.duplicatesList.length > 0 && checkForUniqueCases()">
        <img src="assets/info.png"
          title="Some rides are considered the same type for the game's ride value and price calculation mechanics, despite not being exact reskins of other rides. See the FAQs on the About page for more info." />
      </a>
    </div>
  </div>
  <div class="display_flex-vertical">
    <button [id]="'ride-item-dupes-toggle' + ride.getUniqueId()"
      *ngIf="ride.isDuplicate && ride.duplicatesList.length > 0" class="display_flex-vertical align-items_center"
      (click)="toggleDupes()" role="button" type="button" aria-pressed="false">
      {{showDupes ? 'Hide' : 'Show'}} Duplicates
      <ng-container *ngIf="showDupes">
        <hr />
        <span *ngFor="let dupe of ride.duplicatesList">
          {{dupe.getNickname()}}
        </span>
      </ng-container>
    </button>
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-age' + ride.getUniqueId()">Ride Age</label>
    <span class="select">
      <select [id]="'ride-age' + ride.getUniqueId()" formControlName="age">
        <option value="" disabled>Select age...</option>
        <option *ngFor="let age of ageList" [ngValue]="age">
          {{age.getAge()}}
        </option>
      </select>
    </span>
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-excitement' + ride.getUniqueId()">Excitement</label>
    <input [id]="'ride-excitement' + ride.getUniqueId()" type="number" step="0.01" min="0" formControlName="e" />
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-intensity' + ride.getUniqueId()">Intensity</label>
    <input [id]="'ride-intensity' + ride.getUniqueId()" type="number" step="0.01" min="0" formControlName="i" />
  </div>
  <div class="display_flex-vertical">
    <label [for]="'ride-nausea' + ride.getUniqueId()">Nausea</label>
    <input [id]="'ride-nausea' + ride.getUniqueId()" type="number" step="0.01" min="0" formControlName="n" />
  </div>
  <div class="footer flex-fill">
    <app-delete-footer class="display_flex-vertical justify-content_end" (delete)="deleteRide()"></app-delete-footer>
  </div>
</form>