<form [id]="'attraction' + item.getUniqueId()" [formGroup]="guestCapForm" class="card left item flex-wrap flex-fill">
  <div class="display_flex name-and-price">
    <strong class="name">{{item.getName()}}</strong>
    <strong class="value">{{item.getGuestCapValue(isHGG)}}</strong>
  </div>
  <ng-container *ngIf="item.getTracked()">
    <div class="display_flex-vertical">
      <label [for]="'attraction-name' + item.getUniqueId()">Ride Name</label>
      <input [id]="'attraction-name' + item.getUniqueId()" type="text" formControlName="nickname" />
    </div>
    <div class="display_flex-vertical" *ngIf="isHGG">
      <div class="display_flex align-items_center">
        <input [id]="'passes-harder-gen' + item.getUniqueId()" name="passes-harder-gen" type="checkbox" class="large"
          formControlName="passesHarderGen" [value]="true" />
        <label [for]="'passes-harder-gen' + item.getUniqueId()">Meets HGG Requirements</label>
        <a routerLink="about" fragment="hgg-ride-requirements" class="tooltip">
          <img src="assets/info.png" title="In order for a ride to meet the harder guest generation requirements, it must: be a tracked ride, have an excitement of 6.00 or higher, and have a ride length of at least 1968 feet (600 meters)." />
        </a>
      </div>
    </div>
  </ng-container>
  <div class="display_flex-vertical" *ngIf="!item.getTracked()">
    <label [for]="'attraction-quantity' + item.getUniqueId()">Quantity</label>
    <input [id]="'quantity' + item.getUniqueId()" type="number" min="1" formControlName="quantity" />
  </div>
  <div class="footer flex-fill">
    <app-delete-footer class="display_flex-vertical justify-content_end" (delete)="deleteItem()"></app-delete-footer>
  </div>
</form>